@charset "UTF-8";

body {
    background-color: rgb(1, 1, 79);
    font-family: Libre Caslon Text;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: auto;
    min-height: 100vh; 
    margin: 0; 
}


.conteiner_tipo1 {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
    position: absolute; 
    bottom: 25px; 
    padding: 20px 0; 
}

.cont_cli{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 85%; 
    position: absolute; 
    bottom: 25px; 
    left: 47px; 
    padding: 20px 0; 
}

.cont_veiculo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height: 85%; 
    position: absolute; 
    bottom: 25px; 
    right: 47px; 
    padding: 20px 0; 
}

.conteiner_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 40px;
    width: 500px;
    height: auto;
    border-radius: 8%;
    padding: 10px 10px 10px 10px;
    background-color: rgb(204, 153, 52);
    left: -200px;
}

div.metade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    width: 48.5%;
    height: auto;
    background-color: rgb(204, 153, 52);
    padding: 10px 10px 10px 10px;
    border-radius: 8% 0 0 8%;
}


div#select{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

div#bt_vt{
    display:grid;
    margin-top: 40px;
}
div#tela_cliente2{
    display:grid;
    grid-template-columns: auto auto;
}

/*Botões*/
div#bt_c,#bt_seguradoras,#bt_seguros,#bt_consultar_cliente,#bt_cadastrar_cliente,#bt_cadastrar_veiculo,#bt_consultar_veiculo,#bt_cadastrar_seguradora,#bt_consultar_seguradora,#bt_cadastrar_seguros,#bt_consultar_seguros {
    background-color: rgb(204, 153, 52);
    width: 320px; 
    height: 220px; 
    border-radius: 8%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


img#logo1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: 65px;
}
img#logo2 {
    position: relative;
    left: 12.5%;               
}
img#usuario{
    position: absolute;
    left: 90%;
    top: 65px;
}
img#voltar{
    position: absolute;
    left:1%;
    top:10px;
}
img#voltar2{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

label {
    font-family: Libre Caslon Text;
    color: rgba(0, 0, 0, 1);
    font-size: 36pt; 
    text-align: center; 
}


label#tipo_formulario{
    font-family: Libre Caslon Text;
    color: rgba(255, 255, 255, 1);
    font-size: 21pt;
    padding-top: 20px;
}
label#opções{
    font-family: Libre Caslon Text;
    color: rgba(255, 255, 255, 1);
    font-size: 18pt; 
}


h1{
    font-family: Libre Caslon Text;
    color: rgba(255, 255, 255, 1);
    font-size: 47pt; 
    text-align: center;
    position: relative;
}
h1[nome="cadastro_sucesso"]{
    font-family: Libre Caslon Text;
    color: rgba(255, 255, 255, 1);
    font-size: 47pt;
    font-weight: 100;
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

input#caixa{
    width: 400px;
    height: 25pt;
    font-size: 16pt;
    border: 3px solid rgba(217,217,217,1);
    background-color: rgba(217,217,217,1);
    border-radius: 8%;
}
.seletores{
    width: 400px;
    height: 25pt;
    background-color: rgba(217,217,217,1);
    border: 3px solid rgba(217,217,217,1);
    border-radius: 8%;
}

input[for="seletor"]{
    width: 15px;
    font-family: Libre Caslon Text;
    background-color: rgba(217,217,217,1);
    border: 10px solid #d9d9d9;
}

label#botao1{
    background-color: rgb(26, 26, 55);
    font-family: Libre Caslon Text;
    border-radius: 6%;
    font-size: 23pt;
    padding: 16px;
    color: #ffffff;
    width: 160px;
}

hgroup{
    display: flex;
    flex-direction: column;
}
hgroup > label {
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: inherit;
  }

textarea{
    width: 400px;
    height: 25pt;
    font-size: 16pt;
    border: 3px solid rgba(217,217,217,1);
    background-color: rgba(217,217,217,1);
    border-radius: 8%;
    resize: none;
}

.alerta {
    color: rgb(198, 2, 2);
    margin-left: 10px; 
    font-size: 0.9em; 
}
.alerta2{
    color: rgb(198, 2, 2);
    margin-left: 0px;
    padding-top: 0px;
    border-top: 0px;
    font-size: 18pt;
}