<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Veículo</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div class="metade">
        <h1 id="tipo2">Atualizar Veículo</h1>
        <form name="form_atualizar_cadastro_veiculo" action="/atualizar_cadastro_veiculo.html" method="POST">
            <hgroup>
                <label  id="tipo_formulario">Modelo:</label>
                <input type="text"  id="caixa" name="modelo_atualizar_cadastro_veiculo"/>
                <span class="alerta" id="span_modelo_atualizar_cadastro_veiculo"></span>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario">Ano:</label>
                <input type="date" id="caixa" name="ano_atualizar_cadastro_veiculo"/>
                <span class="alerta" id="span_ano_atualizar_cadastro_veiculo"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Cor:</label>
                <input type="text" id="caixa" name="cor_atualizar_cadastro_veiculo"/>
                <span class="alerta" id="span_cor_atualizar_cadastro_veiculo"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Conbustível:</label>
                <select class="seletores" name="combustivel_atualizar_cadastro_veiculo">
                    <option value="gasolina">Gasolina</option>
                    <option value="alcool">Álcool</option>
                    <option value="flex" selected>Flex</option>
                    <option value="eletrico">Elétrico</option>
                </select>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Placa:</label>
                <input type="text" id="caixa" name="placa_atualizar_cadastro_veiculo"/>
                <span class="alerta" id="span_placa_atualizar_cadastro_veiculo"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Chassí:</label>
                <input type="text" id="caixa" name="chassi_atualizar_cadastro_veiculo"/>
                <span class="alerta" id="span_chassi_atualizar_cadastro_veiculo"></span>
            </hgroup>

            <hgroup>
                <p id="teste">
                    <label  id="tipo_formulario" name="local_pernoite">Local de pernoite:</label>
                </p>
                <select class="seletores" name="pernoite_atualizar_cadastro_veiculo">
                    <option value="casa">Casa</option>
                    <option value="rua" selected>Rua</option>
                    <option value="apt">Apartamento</option>
                </select>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Cep local de pernoite:</label>
                <input type="text" id="caixa" name="cep_pernoite_atualizar_cadastro_veiculo" placeholder="apenas números"/>
                <span class="alerta" id="span_cep_atualizar_cadastro_veiculo"></span>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario" name="per_gar">Veículo pernoita em garagem:</label>
                <div class="radio" >
                    <p>
                         <label class="opt" ><input type="radio" name="garagem_atualizar_cadastro_veiculo" for="seletor" value="1"/>Sim</label>
                    </p>
                    <p>
                         <label class="opt" ><input type="radio" name="garagem_atualizar_cadastro_veiculo" for="seletor" value="0" checked/> Não</label>
                    </p>
                </div>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario">Possui rastreador ou semelhante?:</label>
                <div class="radio">
                    <p>
                        <label class="opt" ><input type="radio" name="rastreador_atualizar_cadastro_veiculo" velue="1"/> Sim</label>
                    </p>
                    <p>
                         <label class="opt" ><input type="radio" name="rastreador_atualizar_cadastro_veiculo"  velue="0" checked/>Não</label>
                    </p>
                </div>
            </hgroup>

            <hgroup>
                <p>
                    <label  id="tipo_formulario">Veículo é utilizado para atividade </br> remunerada:</label>
                </p>
                <div class="radio">
                    <p>
                         <label class="opt" ><input type="radio" name="remunerada_atualizar_cadastro_veiculo" for="seletor" value="1"/>Sim</label>
                    </p>
                    <p>
                         <label class="opt" ><input type="radio" name="remunerada_atualizar_cadastro_veiculo" for="seletor" value="0" checked/> Não</label>
                    </p>
                </div>
            </hgroup>

            <hgroup>
                <p>
                    <label  id="tipo_formulario" name="ir_trab">Veículo é utilizado para ir ao </br>trabalho ou estudo:</label>
                </p>
                
                <div class="radio">
                    <p>
                        <label class="opt" ><input type="radio" name="ir_atualizar_cadastro_veiculo" for="seletor" value="1" checked/> Sim</label>
                    </p>
                    <p>
                         <label class="opt" ><input type="radio" name="ir_atualizar_cadastro_veiculo" for="seletor" value="0"/> Não</label>
                    </p>
                </div>
            </hgroup>

            <hgroup>
                <p>
                    <label  id="tipo_formulario">Local de trabalho/estudo possui </br>estacionamento:</label>
                </p>
                
                <div class="radio">
                    <p>
                         <label class="opt"  ><input  type="radio" name="estacionamento_atualizar_cadastro_veiculo"  value="1"/>Sim</label>
                    </p>
                    <p>
                         <label class="opt" ><input  type="radio" name="estacionamento_atualizar_cadastro_veiculo" for="seletor" value="0" checked/> Não</label>
                    </p>
                </div>
            </hgroup>

        <div id="bt_vt">
            <label class="botao1" id="label_atualizar_cadastro_veiculo">Alterar</label>
            
            <a href="clientes.html">
                <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </form>
    </div>
    <script src="../static/script/atualizar_cadastro_veiculo.js"></script>
</body>
</html>