<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cotação</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
    
    <div id="metade" >
        <h1 id="tipo2">Cadastrar Cotação</h1>
                      
            <hgroup>
                <label  id="tipo_formulario">Nome do cliente:</label>
                <input type="text" name="nome_cadastrar_cotacao" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label  id="tipo_formulario">Seguradora:</label>
                <input type="text" name="seguradora_cadastrar_cotacao" id="caixa" /><!--Como gera barra de opções-->
            </hgroup>
    
            <hgroup>
                <label name="lemail" id="tipo_formulario">Placa veículo:</label>
                <input type="text" name="placa_cadastrar_cotacao" id="caixa" />
            </hgroup>

            <hgroup>
                <label for="cNasc" id="tipo_formulario">Data da cotação:</label>
                <input type="date" name="dt_nasc__cadastrar_cotacao" id="caixa"/>
            </hgroup>
       
            <hgroup>
                <label id="tipo_formulario">Valor:</label>
                <input type="text" name="valor_cadastrar_cotacao" id="caixa" />
            </hgroup>
    
            
            <div id="bt_vt">
                <label id="botao1">Cadastrar</label>
                
                <a href="cotações.html">
                    <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
                </a>
                
            </div>
         
        
    </div>
</body>
</html>