<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Seguros</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">
    

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div id="metade" >
        <h1 id="tipo2">Cadastrar Seguros</h1>
                
        
            <hgroup>
                <label id="tipo_formulario">CPF do segurado</label>
                <input type="text" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label  id="tipo_formulario">Placa do veículo:</label>
                <input type="text" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label name="lemail" id="tipo_formulario">Seguradora:</label>
                <input type="text" id="caixa" /><!--lista com seguradoras cadastradas-->
            </hgroup>
            
            <hgroup>
                <label id="tipo_formulario">Data de contratação:</label>
                <input type="date" id="caixa"/>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Data de vencimento:</label>
                <input type="date" id="caixa"/>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Forma de pagamento:</label>
                <input type="text" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">Apólice:</label>
                <input type="number" id="caixa" />
            </hgroup>
            
            <div id="bt_vt">
                <label id="botao1">Cadastrar</label>

                <a href="seguros.html">
                    <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
                </a>
                
            </div>
           
         
        
    </div>
</body>
</html>