<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    
    
    <div id="metade" >
        <div>
            <h1 id="tipo2">Cadastrar Cliente</h1>
        </div>     
        
            <hgroup>
                <label name="lNome" id="tipo_formulario">Nome:</label>
                <input type="text" name="tName" id="caixa" placeholder="Nome Completo"/>
            </hgroup>
    
            <hgroup>
                <label name="lCPF" id="tipo_formulario">CPF:</label>
                <input type="text" name="tCPF" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label name="lemail" id="tipo_formulario">E-mail:</label>
                <input type="email" name="temail" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label for="cNasc" id="tipo_formulario">Data de Nascimento:</label>
                <input type="date" name="tNasc" id="caixa"/>
            </hgroup>
            
            <hgroup>
                <label for="cCivil" id="tipo_formulario">Estado Civil:</label>
                <div id="select">
                    <p for="tSolteiro">
                        <input type="radio" name="seletor" /> <label  id="opções">Solteiro</label>
                    </p>
                    <p for="tViuvo">
                        <input type="radio" name="seletor" /> <label  id="opções"> Viuvo</label>
                    </p>
                    <p for="tCasado">
                        <input type="radio" name="seletor" /> <label  id="opções"> Casado</label>
                    </p>
                    <p for="tDivorciado">
                        <input type="radio" name="seletor" /> <label  id="opções"> Divorciado</label>
                    </p>
                </div>
                 
            </hgroup>
    
            <hgroup>
                <label name="lEndereço" id="tipo_formulario">Endereço:</label>
                <input type="text" name="tEndereço" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label name="lTelefone" id="tipo_formulario">Telefone:</label>
                <input type="number" name="tTelefone" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label name="lProfissão" id="tipo_formulario">Profissão:</label>
                <input type="text" name="tProfissão" id="caixa" />
            </hgroup>
    
            <hgroup>
                <label name="lSalario" id="tipo_formulario">Faixa Salarial:</label>
                <input type="text" name="tSalario" id="caixa" />
            </hgroup>
        
            <div id="bt_vt">
                <label id="botao1">Cadastrar</label>
                
                <a href="clientes.html">
                    <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
                </a>
                
            </div>   
        
        
    </div>
</body>
</html>