<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Veículo</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div id="metade">
        <h1 id="tipo2">Cadastrar Veículo</h1>
        
        <hgroup>
            <label  id="tipo_formulario">CPF:</label>
            <input type="text"  id="caixa" />
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Placa:</label>
            <input type="text" id="caixa" />
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Data de vencimento:</label>
            <input type="date" id="caixa"/>
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Consultar</label>
            
            <a href="seguros.html">
                <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
            
        </div>

    </div>
</body>
</html>