<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img class="logo3" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
    
    <div class="metade" >

        <div>
            <h1 id="tipo2">Cadastrar Cliente</h1>
            <span class="alerta2">{{erro}}</span>
        </div>     
        
        <form id="form_cadastrar_cliente" action="/cadastrar_cliente.html" method="POST">
            <hgroup>
                <label id="tipo_formulario">Nome:</label>
                <input type="text" name="nome_cadastrar_cliente" id="caixa" placeholder="Nome Completo"/>
                <span class="alerta" id="span_nome_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">CPF:</label>
                <input type="text" name="cpf_cadastrar_cliente" id="caixa" placeholder="apenas números"/>
                <span class="alerta" id="span_cpf_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label  id="tipo_formulario" >E-mail:</label>
                <input type="email" name="email_cadastrar_cliente" id="caixa" placeholder="xxx@gmail.com"/>
                <span class="alerta" id="span_email_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">Data de Nascimento:</label>
                <input type="date" name="dt_nasc_cadastrar_cliente" id="caixa"/>
                <span class="alerta" id="span_dt_nasc_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">Endereço:</label>
                <input type="text" name="endereco_cadastrar_cliente" id="caixa" />
                <span class="alerta" id="span_endereco_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">Telefone:</label>
                <input type="text" name="tel_cadastrar_cliente" id="caixa" />
                <span class="alerta" id="span_tel_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">Profissão:</label>
                <input type="text" name="prof_cadastrar_cliente" id="caixa" />
                <span class="alerta" id="span_prof_cadastrar_cliente"></span>
            </hgroup>
    
            <hgroup>
                <label id="tipo_formulario">Faixa Salarial:</label>
                <input type="text" name="sal_cadastrar_cliente" id="caixa" />
                <span class="alerta" id="span_sal_cadastrar_cliente"></span>
            </hgroup>
            <hgroup>
                <label id="tipo_formulario">Condutor Principal:</label>
                <div class="radio">
                    <label class="opt">
                        <input type="radio" name="condutor_principal_cadastrar_cliente" value="1" checked /> Sim
                    </label>
                    <label class="opt">
                        <input type="radio" name="condutor_principal_cadastrar_cliente" value="0" /> Não
                    </label>
                </div>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Proprietário:</label>
                <div class="radio">
                        <label  class="opt"><input type="radio" name="proprietario_cadastrar_cliente" value="1" checked/>Sim</label>
                    
                        <label  class="opt"><input type="radio" name="proprietario_cadastrar_cliente" value="0"/>Não</label>  
                </div>
            </hgroup>
            <hgroup>
                <label id="tipo_formulario">Estado Civil:</label>
                <select class="seletores" name="civil_cadastrar_cliente" id="civil_cadastrar_cliente">
                    <option value="solteiro">Solteiro</option>
                    <option value="viuvo">Viúvo</option>
                    <option value="casado" selected>Casado</option>
                    <option value="divorciado">Divorciado</option>
                </select>
            </hgroup>
        </form>
        
        
            <div id="bt_vt">
                <label id="botao1" name="label_cadastrar_cliente" tabindex="0">Cadastrar</label>
                
                <a href="clientes.html">
                    <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
                </a>
                
            </div>    
    </div>

    <script src="../static/script/cadastrar_cliente.js"></script>
    
</body>
</html>