<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
    
    <div id="conteiner_login">

        <h1 id="tipo2">Cadastro</h1>

        <hgroup>
            <label id="tipo_formulario">Nome:</label>
            <input type="text" id="caixa" />
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">CPF:</label>
            <input type="number"  id="caixa" />
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">E-mail:</label>
            <input type="text" id="caixa" />
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Senha:</label>
            <input type="text" id="caixa" />
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Confirmar Senha:</label>
            <input type="text" id="caixa" />
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Alterar</label>

            <a href="tela_inicial.html">
                <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
            
        </div>
    </div>
</body>
</html>