<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo1" src= "..\static\imagem\Logo1x.png" alt="Logo da marca"/>

    <a href="tela_inicial.html">
        <img id="voltar" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
    </a>
    

    <div id="cont_cli">
        <a href="cadastrar_cliente.html">
            <div id="bt_cadastrar_cliente">
                <label for="cadastrar_cliente">Cadastrar cliente</label>
            </div>
        </a>

        <a href="consultar_cliente1.html">
            <div id="bt_consultar_cliente">
                <label for="consultar_cliente">Consultar cliente</label>
            </div>
        </a>
    </div>

    <div id="cont_veiculo">
        <a href="vincular_cliente.html"><!--não faz sentido cadastrar um veículo sem um cliente-->
            <div id="bt_cadastrar_veiculo">
                <label for="cadastrar_veiculo">Cadastrar veículo</label>
            </div>  
        </a>
        <a href="consultar_veículo.html">
            <div id="bt_consultar_veiculo">
                <label for="consultar_veiculo">Consultar veículo</label>
            </div>
        </a>        
    </div>
    
</body>
</html>