<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Cliente</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    
    
    <div id="metade">
        <h1 id="tipo2">Consultar cliente</h1>
        
        
        <hgroup>
            <label  id="tipo_formulario">Cliente1:</label>
            <div id="tela_cliente2">
                <input type="radio" name="seletor" id="rC1"/>
                <textarea readonly></textarea>
            </div>   
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Cliente2:</label>
            <div id="tela_cliente2">
                <input type="radio" name="seletor" id="rC2"/>
                <textarea readonly></textarea>
            </div>   
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Cliente3:</label>
            <div id="tela_cliente2">
                <input type="radio" name="seletor" id="rC3"/>
                <textarea readonly></textarea>
            </div>    
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Visualizar</label>
            <a href="consultar_cliente1.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
</body>
</html>