<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Cliente</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
    
    <div id="metade">
        <h1 id="tipo2">Consultar cliente</h1>
        
        
        <hgroup>
            <label id="tipo_formulario">Nome:</label>
            <input type="text" name="nome_consultar_cliente1" id="caixa" placeholder="Nome Completo"/>
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">CPF:</label>
            <input type="number"  id="caixa" name="cpf_consultar_cliente1" placeholder="apenas números"/>
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">E-mail:</label>
            <input type="email"  id="caixa" name="email_consultar_cliente1"/>
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Consultar</label>
            <a href="clientes.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>

    </div>
</body>
</html>