<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Seguro</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div class="metade">
        <h1 id="tipo2">Consultar Seguro</h1>
        <span class="alerta2" id="geral_consultar_seguros"></span>
        
        <form>
            <hgroup>
                <label  id="tipo_formulario">CPF:</label>
                <input type="text"  id="caixa" name="cpf_seguros" placeholder="apenas números"/>
                <span class="alerta" id="span_cpf_consultar_seguros"></span>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario">Placa:</label>
                <input type="text" id="caixa" name="placa_seguros" placeholder="ABC1234"/>
                <span class="alerta" id="span_placa_consultar_seguros"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Data de vencimento:</label>
                <input type="date" id="caixa" name="dt_vencimenento_consultar_seguros"/>
                <span class="alerta" id="span_dt_vencimenento_consultar_seguros"></span>
            </hgroup>
        </form>

        <div id="bt_vt">
            <label id="botao1" name="label_consultar_seguros1" tabindex="0">Consultar</label>
            
            <a href="seguros.html">
                <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
    <script src="../static/script/consultar_seguros1.js"></script>
</body>
</html>