<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Cotações</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div id="metade">
        <h1 id="tipo2">Consultar Cotação</h1>
        <span class="alerta2" id="geral_consultar_cotacao"></span>
        
        <form name="form_consultar_cotacao1" action="/consultar_cotacao1.html" method="POST">
            <hgroup>
                <label  id="tipo_formulario">CPF:</label>
                <input type="text"  id="caixa" name="cpf_consultar_cotacao1"/>
                <span class="alerta" id="span_cpf_consultar_cotacao1"></span>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario">Placa:</label>
                <input type="text" id="caixa" name="placa_consultar_cotacao1"/>
                <span class="alerta" id="span_placa_consultar_cotacao1"></span>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario">Seguradora:</label>
                <input type="text" id="caixa" name="seguradora_consultar_cotacao1"/>
                <span class="alerta" id="span_seguradora_consultar_cotacao1"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Data da cotação:</label>
                <input type="date" id="caixa" name="dt_sol_consultar_cotacao1"/>
                <span class="alerta" id="span_dt_sol_consultar_cotacao1"></span>
            </hgroup>
        </form>

        <div id="bt_vt">
            <label id="botao1" name="label_consultar_cotacao">Consultar</label>
            
            <a href="cotações.html">
                <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>

    <script src="../static/script/consultar_cotação1.js"></script>

</body>
</html>