<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Veículo</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
 
    <div class="metade">
        <h1 id="tipo2">Consultar veículo</h1>
               
        <hgroup>
            <label  id="tipo_formulario">Veículo1:</label>
            <div id="tela_cliente2">
                <input type="radio" name="seletor" id="rV1"/>
                <textarea name="veiculo1_consultar_veiculo2" readonly></textarea>
            </div>   
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Veículo2:</label>
            <div id="tela_cliente2">
                <input type="radio" name="seletor" id="rV2"/>
                <textarea name="veiculo2_consultar_veiculo2" readonly></textarea>
            </div>   
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Veículo3:</label>
            <div id="tela_cliente2">
                <input type="radio" name="seletor" id="rV3"/>
                <textarea name="veiculo3_consultar_veiculo2" readonly></textarea>
            </div>    
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Visualizar</label>
            <a href="consultar_veículo.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
</body>
</html>