<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Cotações</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div class="metade">
        <h1 id="tipo2">Consultar Cotação</h1>
        <span class="alerta2" id="geral_consultar_cotacao">{{erro}}</span>
        
        <form id="form_consultar_cotacao1" action="/consultar_cotacao1.html" method="POST">
            <hgroup>
                <label  id="tipo_formulario">CPF:</label>
                <select class="seletores" name="cpf_consultar_cotacao1" id="cpf_consultar_cotacao1" >
                    <option value="">Selecione um CPF</option>
                        {% for cpf in cpfs_clientes %}
                        <option value="{{ cpf }}">{{ cpf }}</option>
                        {% endfor %}
                </select>
                <span class="alerta" id="span_cpf_consultar_cotacao1"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Placa:</label>
                <input id="caixa" name="placa_consultar_cotacao1">
                <span class="alerta" id="span_placa_consultar_cotacao1"></span>
            </hgroup>

            <hgroup>
                <label  id="tipo_formulario">Seguradora:</label>
                <select class="seletores" id="seguradora" name="seguradora_cadastrar_cotacao">
                    <option value="">Selecione uma Seguradora</option>
                    {% for seguradora in seguradoras %}
                        <option value="{{ seguradora }}">{{ seguradora }}</option>
                    {% endfor %}
                </select>
                <span class="alerta" id="span_seguradora_consultar_cotacao1"></span>
            </hgroup>

            <hgroup>
                <label id="tipo_formulario">Data da cotação:</label>
                <input type="date" id="caixa" name="dt_sol_consultar_cotacao1"/>
                <span class="alerta" id="span_dt_sol_consultar_cotacao1"></span>
            </hgroup>
        </form>

        <div id="bt_vt">
            <label id="botao1" name="label_consultar_cotacao" tabindex="0">Consultar</label>
            
            <a href="cotações.html">
                <img id="voltar2"  src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>

    <script src="../static/script/consultar_cotação1.js"></script>

</body>
</html>