<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotações</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">
</head>

<body>
    <img id="logo1" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <a href="tela_inicial.html">
        <img id="voltar" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
    </a>

    <div id="cont_seguros" class="conteiner_tipo1">
        <a href="cadastrar_cotação.html">
            <div id="bt_cadastrar_seguros">
                <label for="cadastrar_seguros">Cadastrar cotação</label>
            </div>
        </a>
        
        <a href="consultar_cotação1.html">
            <div id="bt_consultar_seguros">
                <label for="consultar_seguros">Consultar cotação</label>
            </div>
        </a>
        
    </div>
</body>
</html>