<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotações</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">
</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div class="metade">
        <h1 id="tipo2">Cotações</h1>
        {% if cotacoes %}
    <!-- Exibe o label apenas uma vez para o nome associado ao CPF -->
            <label class="tlista">{{ cotacoes[0][8] }}</label>
            <label class="tlista">{{ cotacoes[0][5] }}</label> <!-- Assume que o nome está na posição 7 -->
        {% endif %}
            <ul class="mlista" id="lista_cotacoes">
                {% for cotacao in cotacoes %}
                <li onclick="selecionarCotacao('{{ cotacao[0] }}')">
                    {{ cotacao[7] }} | {{ cotacao[1] }}| {{ cotacao[3] }}| R$:{{ cotacao[4] }}
                </li>
                {% endfor %}
            </ul>

        <div id="bt_vt">
            <a href="consultar_cotacao1.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
    <script src="../static/script/lista_cotacoes.js"></script>
</body>
</html>