<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguros</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">
</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <div class="metade">
        <h1 id="tipo2">Seguros</h1>
        {% if seguros %}
    <!-- Exibe o label apenas uma vez para o nome associado ao CPF -->
            <label class="tlista">{{ seguros[0][8] }}</label>
            <label class="tlista">{{ seguros[0][7] }}</label> <!-- Assume que o nome está na posição 7 -->
        {% endif %}
            <ul class="mlista" id="lista_cotacoes">
                {% for seguros in seguros %}
                <li onclick="selecionarCotacao('{{ seguros[0] }}')">
                    {{ seguros[5] }} | {{ seguros[9] }}| {{ seguros[3] }}| {{ seguros[4] }}| R$:{{ seguros[1] }}
                </li>
                {% endfor %}
            </ul>

        <div id="bt_vt">
            <a href="consultar_seguros.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
    <script src="../static/script/lista_cotacoes.js"></script>
</body>
</html>