<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
    
    <div class="conteiner_login">

        <h1 id="tipo2">Login</h1>

        <hgroup>
            <label id="tipo_formulario">E-mail/CPF:</label>
            <input type="text" id="caixa" />
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Senha:</label>
            <input type="text"  id="caixa" />
        </hgroup>

        <label id="botao1">Entrar</label>
    </div>
</body>
</html>