<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <a href="{{tela}}">
        <img id="voltar" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
    </a>
    <div>
        <img id="logo1" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
        <h1 class="sucesso">{{sucesso}}</h1>
    </div>   
</body>
</html>