<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo1" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>

    <a href="tela_inicial.html">
        <img id="voltar" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
    </a>
    
    <h1 nome="sucesso">Cadastro Feito com Sucesso!</h1>
</body>
</html>