<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo1" src= "..\static\imagem\logo.png" alt="Logo da marca"/>

    <a href="cadastro.html">
        <img id="usuario" src= "..\static\imagem\Usuário050.png" alt="Usuário"/>
    </a>
    
    
    <div id="container_tela_inicial">
        <a href="clientes.html">
            <div id="bt_c">
                <label for="clientes">Clintes</label>
            </div> 
        </a>
        
        <a href="seguradoras.html">
            <div id="bt_seguradoras">
                <label for="seguradoras">Seguradoras</label>
            </div>
        </a>

        <a href="seguros.html">
            <div id="bt_seguros">
                <label for="seguros">Seguros</label>
            </div>
        </a>
        

        
    </div>
    
</body>
</html>