<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Cotações</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
 
    <div id="metade">
        <h1 id="tipo2">Visualizar Cotação</h1>
               
        <hgroup>
            <label  id="tipo_formulario">Nome do cliente:</label>
            <textarea name="nome_visualizar_cotacao" readonly></textarea>
              
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Seguradora:</label>
            <textarea name="seguradora_visualizar_cotacao" readonly></textarea> 
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Placa veículo:</label>
            <textarea name="placa_visualizar_cotacao" readonly></textarea>    
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Data da cotação:</label>
            <textarea name="dt_cotacao_visualizar_cotacao" readonly></textarea>
              
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Data limite:</label>
            <textarea name="dt_limite_visualizar_cotacao" readonly></textarea> 
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Valor:</label>
            <textarea name="valor_visualizar_cotacao" readonly></textarea> 
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Segurar</label><!--Confirmar cotação ir para seguros contratados. Exigir confirmação-->
            <a href="consultar_cotações2.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
        
    </div>
</body>
</html>