<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Seguro</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">

</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
 
    <div id="metade">
        <h1 id="tipo2">Visualizar seguro</h1>
               
        <hgroup>
            <label  id="tipo_formulario">CPF do segurado:</label>
            <textarea readonly></textarea>
              
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Placa do veículo:</label>
            <textarea readonly></textarea> 
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Seguradora:</label>
            <textarea readonly></textarea>    
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Data de contratação:</label>
            <textarea readonly></textarea>
              
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Data de vencimento:</label>
            <textarea readonly></textarea> 
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Forma de pagamento:</label>
            <textarea readonly></textarea>    
        </hgroup>

        <hgroup>
            <label  id="tipo_formulario">Apólice:</label>
            <textarea readonly></textarea>    
        </hgroup>

        <div id="bt_vt">
            <a>
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
</body>
</html>