<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Seguradora</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">
</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
 
    <div class="metade">
        <h1 id="tipo2">Visualizar Seguradora</h1>
        <span class="alerta2">{{erro}}</span>
               
        <hgroup>
            <label id="tipo_formulario">Nome:</label>
            <textarea class="seguradora" readonly>{{ seguradora[0] }}</textarea>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">CNPJ:</label>
            <textarea class="seguradora" readonly>{{ seguradora[1] }}</textarea>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Endereço:</label>
            <textarea class="seguradora" readonly>{{ seguradora[3] }}</textarea>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Telefone:</label>
            <textarea class="seguradora" readonly>{{ seguradora[4] }}</textarea>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">E-mail:</label>
            <textarea class="seguradora" readonly>{{ seguradora[2] }}</textarea>
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Atualizar</label>
            <a href="consultar_seguradora.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
</body>
</html>
