<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Veículo</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\geral.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\visualizar_veiculo.css">
</head>
<body>
    <img id="logo2" src= "..\static\imagem\Logo075.png" alt="Logo da marca"/>
 
    <div class="metade">
        <h1 id="tipo2">Visualizar Veículo</h1>

        <hgroup>
            <label id="tipo_formulario">Proprietário:</label>
            <textarea name="proprietario_visualizar_veiculo" readonly>{{ veiculo[14] }}</textarea>
        </hgroup>        
               
        <hgroup>
            <label id="tipo_formulario">Modelo:</label>
            <textarea name="modelo_visualizar_veiculo" readonly>{{ veiculo[3] }}</textarea>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Ano:</label>
            <textarea name="ano_visualizar_veiculo" readonly>{{ veiculo[4] }}</textarea> 
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Cor:</label>
            <textarea name="cor_visualizar_veiculo" readonly>{{ veiculo[5] }}</textarea>    
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Combustível:</label>
            <textarea name="comb_visualizar_veiculo" readonly>{{ veiculo[6] }}</textarea>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Placa:</label>
            <textarea name="placa_visualizar_veiculo" readonly>{{ veiculo[1] }}</textarea> 
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Chassi:</label>
            <textarea name="chassi_visualizar_veiculo" readonly>{{ veiculo[2] }}</textarea> 
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">Possui rastreador ou semelhante?</label>
            <div class="radio">
                <p class="visualizar">
                    {% if veiculo[7] == 1 %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
        </hgroup>

        <hgroup>
            
            <div class="radio">
                <label id="tipo_formulario">Local de pernoite:</label>
                <hgroup>
                    <label id="tipo_formulario">Local de pernoite:</label>
                    <textarea name="pernoite_visualizar_veiculo" readonly>
                        {{ pernoite_options.get(veiculo[8], "Não especificado") }}
                    </textarea>
                </hgroup>
            </div>
            
        </hgroup>

        <hgroup>
            <div class="radio">
                <label id="tipo_formulario">Veículo pernoita em garagem:</label>
                <p class="visualizar">
                    {% if veiculo[9] == 'sim' %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
        </hgroup>

        <hgroup>
            <label id="tipo_formulario">CPF local de pernoite:</label>
            <textarea name="cpf_pernoite_visualizar_veiculo" readonly>{{ veiculo[10] }}</textarea> 
        </hgroup>

        <hgroup>
            <p>
                <label id="tipo_formulario">Veículo é utilizado para atividade</br> remunerada:</label>
            </p>
            
            <div class="radio">
                <p class="visualizar">
                    {% if veiculo[11] == 'sim' %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
            
        </hgroup>

        <hgroup>
            
            <div class="radio">
                <p>
                    <label id="tipo_formulario">Veículo é utilizado para ir ao </br>trabalho ou estudo?</label>
                </p>
                <p class="visualizar">
                    {% if veiculo[12] == 'sim' %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
        </hgroup>

        <hgroup>
            
            
            <div class="radio">
                <p>
                    <label id="tipo_formulario">Local de trabalho/estudo possui</br> estacionamento?</label>
                </p>
                <p class="visualizar">
                    {% if veiculo[13] == 'sim' %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
        </hgroup>

        <div id="bt_vt">
            <label id="botao1">Atualizar</label>
            <a href="consultar_veiculo.html">
                <img id="voltar2" src= "..\static\imagem\circle-arrow-right050.png" alt="Voltar"/>
            </a>
        </div>
    </div>
</body>
</html>
